<footer>
    <p>TechSol - Todos os direitos reservados ® <%=anoAtual%></p>
    <p>Email <a href="mailto:email@mywebsite.com">email@mywebsite.com</a> • Find us on Instagram <a href="https://www.instagram.com/mywebsite">@mywebsite</a> • Call us today: <a href="tel:8000777000">8000 777 000</a></p>
    <address>R. Gomes de Carvalho, 1996 - Vila Olímpia, São Paulo - SP, 04547-006</address>
  </footer>