<header class="main-header">
   <div class="logo">
       <a href="/" style="text-decoration: none;"><h1>Search News</h1></a>
   </div>
   <div class="header-info">
       <div class="local-weather">
           <span class="current-temp">Está 9 graus em São Paulo</span>
       </div>
       <div class="local-time">
           <span data-time="hours" class="time-number">00</span>
           <span data-time="minutes" class="time-number">00</span>
           <span data-time="seconds" class="time-number">00</span>
       </div>
   </div>
</header>