<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/allnews.css" />
</head>
<body>
    <%- include('partials/header') %>
    <main class="main-content-404">
        <h3 id='result-news-h3'>Busca não encontrada.</h3>
          <a href="/"><button>Voltar</button></a>
    
    </main>
</body>
<script type="text/javascript" src="/currentTime.js"></script>
<%- include('partials/footer') %>
</html>