<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/allnews.css" />
</head>
<body>
    <%- include('partials/header') %>
    <main class="main-content">
        <h3 id='result-news-h3'></h3>
        <section class="news-result">
            
           <!--Created by JS -->
        </section>
    </main>
</body>
<script type="text/javascript" src="/currentTime.js"></script>
<script type="text/javascript" src="/allnews.js"></script>
<%- include('partials/footer') %>
</html>